.img-container {
    width: 100%; /* Ancho máximo para la imagen */
    max-width: 37.5rem; /* Ancho máximo permitido para la imagen */
    margin: 0 auto; /* Centrar la imagen en su contenedor */
}

.img-container img {
    width: 100%; /* La imagen ocupa todo el ancho disponible */
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
    display: block; /* Elimina el espacio adicional por debajo de la imagen */
}
